* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.convertidor {
    min-width: 50%;
    margin: auto;
    padding: 40px 10px;
    border-radius: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-image: linear-gradient(rgba(149, 170, 178, 0.679), hsla(0, 3%, 46%, 0.934)), url('../img/fibo2.jpg');
    background-size: cover; 
    background-position: center; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.convertidor label {
    font-weight: bold;
}

#inputNumero {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.558);
    background-color: #f8f8f8;
    color: #333;
    font-size: 16px;
}

.btnConvertir {
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    line-height: 1;
    font-weight: bold;
}

.btnConvertir:hover {
    background-color: rgb(188, 50, 62);
    color: white;
}

#resultados {
    font-weight: bold;
}
